<div class="site-warmup-dashboard" mg-model="siteWarmupDashboard" ng-controller="siteWarmupDashboardController">
    <h1><localize key="siteWarmupDashboard_heading">Site Warmup</localize></h1>
    <p><localize key="siteWarmupDashboard_bodytext"></localize></p>
    <div class="warmup-grid">
        <div class="umb-content-grid__item umb-outline umb-outline--surrounding -clickable warmup-block"
             ng-repeat="page in pages" role="button" tabindex="0">


            <p><a ng-href="{{page.url}}" target="_blank">{{page.name}}</a></p>
            <iframe ng-src="{{page.url}}"></iframe>
        </div>

    </div>

    <button ng-click="getPages()" ng-show="!loading">Load Pages</button>

    <div ng-show="loading">Loading...</div>

</div>
