<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="95776946-0c44-4311-852b-35c18de90298" Alias="dskContentPage" Level="1">
  <Info>
    <Name>dskContentPage</Name>
    <Icon>icon-article color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d515c631-acdd-4d4b-bb25-fb38c65cf86e">dskPrivate</Template>
      <Template Key="3ed70bb5-583a-4a66-bdee-ef7bc7cdcc74">dskPublic</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="95776946-0c44-4311-852b-35c18de90298" SortOrder="0">dskContentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>26573103-f8bd-440a-8564-05c7aa02cc3d</Key>
      <Name>Favourite Food</Name>
      <Alias>favouriteFood</Alias>
      <Definition>14c74df8-3153-4cce-a108-394dc5d842eb</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="examples">Examples</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e1ad1ab2-de80-4aa7-b26d-f7c5b4c504d0</Key>
      <Caption>Examples</Caption>
      <Alias>examples</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>