<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="95776946-0c44-4311-852b-35c18de90298" Alias="dskContentPage" Level="1">
  <Info>
    <Name>dskContentPage</Name>
    <Icon>icon-article color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d515c631-acdd-4d4b-bb25-fb38c65cf86e">dskPrivate</Template>
      <Template Key="3ed70bb5-583a-4a66-bdee-ef7bc7cdcc74">dskPublic</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="95776946-0c44-4311-852b-35c18de90298" SortOrder="0">dskContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>