<?xml version="1.0" encoding="utf-8"?>
<Content Key="230e81a6-4f4b-4872-bb68-5fa93d37b7f1" Alias="Dirty Starter Kit" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DirtyStarterKit</Path>
    <Trashed>false</Trashed>
    <ContentType>dskSiteRoot</ContentType>
    <CreateDate>2024-02-17T10:29:02</CreateDate>
    <NodeName Default="Dirty Starter Kit" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ed70bb5-583a-4a66-bdee-ef7bc7cdcc74">dskPublic</Template>
  </Info>
  <Properties />
</Content>