<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f4c98f0-75f6-4c6c-a176-64b51e07418e" Alias="subpage 2" Level="2">
  <Info>
    <Parent Key="230e81a6-4f4b-4872-bb68-5fa93d37b7f1">Dirty Starter Kit</Parent>
    <Path>/DirtyStarterKit/subpage2</Path>
    <Trashed>false</Trashed>
    <ContentType>dskContentPage</ContentType>
    <CreateDate>2024-02-20T20:14:50</CreateDate>
    <NodeName Default="subpage 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ed70bb5-583a-4a66-bdee-ef7bc7cdcc74">dskPublic</Template>
  </Info>
  <Properties />
</Content>