<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4838e72-7758-49fe-8da6-64487c00b22b" Alias="subpage 1" Level="2">
  <Info>
    <Parent Key="230e81a6-4f4b-4872-bb68-5fa93d37b7f1">Dirty Starter Kit</Parent>
    <Path>/DirtyStarterKit/subpage1</Path>
    <Trashed>false</Trashed>
    <ContentType>dskContentPage</ContentType>
    <CreateDate>2024-02-20T20:14:42</CreateDate>
    <NodeName Default="subpage 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ed70bb5-583a-4a66-bdee-ef7bc7cdcc74">dskPublic</Template>
  </Info>
  <Properties>
    <favouriteFood>
      <Value><![CDATA[Pizza]]></Value>
    </favouriteFood>
  </Properties>
</Content>