<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14c74df8-3153-4cce-a108-394dc5d842eb" Alias="Favourite Food Picker" Level="1">
  <Info>
    <Name>Favourite Food Picker</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Pizza"
    },
    {
      "id": 2,
      "value": "I'm an idiot, I have no valid response"
    }
  ]
}]]></Config>
</DataType>